@import '../../styles/base';

.explore-page__search-status {
  @include container;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-main;
  font-size: 14px;

  @include from($bp-md) {
    padding-top: 16px;
    font-size: 15px;
  }

  p {
    margin: 0;
  }
}

.explore-page__clear-btn {
  @include ghost-button;
  padding: 6px 14px;
  border-radius: $border-radius-sm;
  font-size: 13px;

  @include from($bp-md) {
    padding: 6px 16px;
  }
}