@use '../variables/scss_variables' as *;
@use '../lib/mixins';
@use '../lib/helpers';

@mixin book-cover-img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius-sm);
}

@mixin book-cover-placeholder {
  @include helpers.flex-center;
  width: 100%;
  aspect-ratio: 2 / 3;
}
