@use '../variables/scss_variables' as *;
@use '../lib/mixins';

@mixin card-grid($cols-desktop: 4) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @include mixins.from($bp-md) {
    grid-template-columns: repeat($cols-desktop, 1fr);
    gap: 16px;
  }

  @include mixins.from($bp-lg) {
    gap: 20px;
  }
}
