@use './styles/style';

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: calc(var(--navbar-height) + var(--space-2));
  flex: 1;
}