@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #705743;
  color: #F5ECD7;
  font-family: "EB Garamond", Georgia, serif;
  line-height: 1.5;
}